.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#about {
  background-color: #b0c4de;
  color: #2a3132;
}

.post {
  text-align: center;
}

#contact {
  background-color: rgb(176, 196, 222);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#profil {
  background-color: #336b87;
  color: #2a3132;
}

#home {
  background-color: #36688d;
}

#projects {
  background-color: #336b87;
}

.card {
  background-color: rgb(176, 196, 222);
  color: #2a3132;
}
